$main-color: #a8a8a8;
$better: #80ffac;
$worse: #ff1b15;
$same: #529bfa;

.comparison-container {
  display: flex;
  margin-top: 1.5rem;
  gap: 1rem;

  .comparison-property-container {
    padding: 0.5rem;
    border: 1px solid $main-color;

    .comparison-property__image {
      width: 100%;
      object-fit: cover;
    }

    .comparison-property__details {
      display: flex;
      flex-direction: column;

      .comparison-property__price,
      .comparison-property__floor,
      .comparison-property__land {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-bottom: 0.5rem;

        &.better {
          background-color: rgba($better, 0.6);
        }

        &.worse {
          background-color: rgba($worse, 0.6);
        }

        &.same {
          background-color: rgba($same, 0.6);
        }
      }

      .comparison-property__locality {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-bottom: 0.5rem;
      }

      .comparison-property__company {
        display: flex;
        align-items: center;

        .comparison-property__company-image {
          height: 3rem;
          margin-right: 1rem;
        }
      }
    }
  }
}

sup {
  font-size: 0.5rem;
}
