.properties-container {
  display: flex;
  margin-top: 2rem;

  .pagination-container {
    display: flex;
    margin: 1rem;

    .pagination__button {
      background-color: white;
      border: none;
      cursor: pointer;
    }
  }

  .property-container {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    width: 7rem;
    cursor: pointer;

    .property-image {
      width: 100%;
      object-fit: cover;
    }

    .property-slug {
      font-size: 0.65rem;
      margin: 0;
    }
  }
  .property-container.selected {
    scale: 1.05;
    border: 3px solid blue;
  }
}
